@{
    ViewBag.Title = "Google JR";
}
<style>
    .loadingImage {
        position: fixed;
        z-index: 1000;
        top: 100px;
        left: 500px;
        height: 100%;
        width: 100%;
    }


    table {
        border-collapse: collapse;
    }

    .inputStyle {
        width: 650px;
    }

    table, th, td {
        /*border: 1px solid black;*/
    }

    .IndexResults {
        font: bold;
        font-size: 20px;
    }
    .ErrorMessage {
        font: bold;
        font-size: 20px;
    }
</style>
<script>
    var MainApp = angular.module("MainApp", []);


    MainApp.controller("SearchController", function ($scope, $http) {
        $scope.pageCount = 0;
        $scope.keywordCount = 0;
        $("#btnShowHideTools").html("Show Coder Tools");
        


        //test page 
        $scope.pageName = "http://googleforaday.azurewebsites.net/SamplePage.html";
            //"http://localhost:50529/SamplePage.html";
            
        

        //"https://www.theverge.com/search?q=piano";
        //main variable for search results
        $scope.results = "";

        //main function for indexing a site.
        $scope.IndexThePages = function () {
            var url = "/Home/startPageIndexProcess";
            var postData = { pageName: $scope.pageName };
            $scope.ShowLoadingImage(true);
            $("#IndexingError").hide();

            $http.post(url, postData)
            .then(function (data) {
                

                $scope.ShowLoadingImage(false);
                if (data.data != undefined ) {    //if totals fail to come back show the error message.
                    $scope.pageCount = data.data.PagesIndexed;
                    $scope.keywordCount = data.data.KeywordsIndexed;
                    $("#IndexedResults").show();
                }
                else { // this means there were some errors found.
                    $("#IndexingError").show();
                }
                //  alert(data.data);
                console.log(data);
            });
        };

        $scope.displayResults = function (data) {

            console.log(data.data);
            $scope.ShowLoadingImage(false);
            $scope.results = data.data;
        };

        //main search function for finding matched text.
        $scope.doSearch = function () {
            $("#IndexedResults").hide();
            $("#IndexingError").hide();
            var url = "/home/RunSearch";
            var postData = { keyword: $scope.keyword };
            $scope.ShowLoadingImage(true);
            $http.post(url, postData)
            .then(function (data) {

                $scope.displayResults(data);
            });

        }

        //waiting message shows until a response comes back.
        $scope.ShowLoadingImage = function (makeVisible) {
            if (makeVisible) {
                $("#loadingImage").show();
            }
            else {
                $("#loadingImage").hide();

            }

        }

        // application log displays errors to help debugging.
        //the hide and show is in this function.
        $scope.ShowCoderTools = function () {
            var tools = $("#divCoderTools");
            var isHidden = $('#divCoderTools').is(':hidden');
            if (isHidden == true) {
                tools.show()
                $("#btnShowHideTools").html("Hide Coder Tools");
                
            }
            else {
                tools.hide();
                
                $("#btnShowHideTools").html("Show Coder Tools");

            }


        }


        
        //show and hide the applog fields.
        $scope.ShowAppLog = function () {
            
            var appLog = $("#divAppLog");
            var isHidden = $('#divAppLog').is(':hidden');
            if (isHidden == true) {
                appLog.show()
                var url = "/Home/GetAppLog";

                $scope.ShowLoadingImage(true);
                $http.post(url, '')
            .then(function (data) {
                $scope.logResults = data.data;
                $scope.ShowLoadingImage(false);

            })

            }
            else {
                appLog.hide();


            }
        }

        //delete the application log entirely.
        $scope.ClearAppLog = function () {
            var url = "/Home/ClearAppLog";
            $scope.ShowLoadingImage(true);
            $("#IndexingError").hide();
            $http.post(url, '')
            .then(function (data) {
                $scope.ShowLoadingImage(false);
                alert(data.data);
                $scope.logResults = "";
                

            });
        }

        //this is the load function for the page.
        $scope.RunSetup = function ()
        {
            $scope.ShowAppLog();
            $scope.ShowCoderTools();
            $("#IndexedResults").hide();
            $("#IndexingError").hide();
        }

        //this clears all of the indexed values in all tables.
        $scope.ClearAll = function () {

            var url = "/Home/ClearAll";
            var postData = {};
            $scope.ShowLoadingImage(true);
            $http.post(url, postData)
            .then(function (data) {
                $scope.results = "";

                $scope.ShowLoadingImage(false);
                alert(data.data);
            })
        };

        $scope.RunSetup();

    });





</script>

<div ng-app="MainApp" ng-controller="SearchController">
    <br />
    <br />
    Index this Site: &nbsp;<input type="text" class="inputStyle" ng-model="pageName" /> <br />
    <br />
    <button ng-click="IndexThePages()">Run Indexer</button>  &nbsp;&nbsp;
    <button ng-click="ClearAll()">CLEAR ALL</button> &nbsp;&nbsp;
    <button id="btnShowHideTools" ng-click="ShowCoderTools()"></button>
    
    <div id="divCoderTools">
        <br />
        <button ng-click="ClearAppLog()">Clear App Log</button>
        <button ng-click="ShowAppLog()">Show/Hide App Log</button>
        
        <a href="~/SamplePage.html">Sample page 1</a> &nbsp; &nbsp; <a href="~/SamplePage2.html">Sample page 2</a> &nbsp;&nbsp;<a href="~/SamplePage3.html">Sample page 3</a>
    </div>
    <br />
    <div id="loadingImage" class="modal loadingImage">
        <p><img src="~/Content/LoadingImage.gif" /> Please Wait</p>
    </div>
    <br />
    Search Indexed Pages: &nbsp;<input type="text" class="inputStyle" ng-model="keyword" /> <br />
    <br />
    <button ng-click="doSearch()">Search</button>
    <br />
    <div id="IndexedResults" class="IndexResults">
        Indexed {{pageCount}} Pages and {{keywordCount}} Words
    </div>
    <div id="IndexingError" class="ErrorMessage">Completed with errors; Please check the app log in Coder Tools.</div>
    <table>

        <tr ng-repeat="item in results">
            <td>
                <a target="_blank" href="{{item.PageURL}}">  {{item.Title}}</a>
                <br />
                Occurrences: {{item.Rank}}
            </td>


        </tr>
    </table>


    <div id="divAppLog">
        <table>
            <tr>
                <td>Function</td>
                <td>Message</td>
                
                <td>Stack Trace</td>
                <td>DateCreated</td>
                <td>Page</td>

            </tr>
          
            <tr ng-repeat="item in logResults">
                <td>
                    {{item.FunctionName}}
                </td>
                <td>{{item.MessageText}}</td>
                
                <td>{{item.FullMessage}}</td>
                <td>{{item.DateCreatedText}}</td>
                <td>{{item.PageName}}</td>


            </tr>
        </table>
    </div>


</div>