@{
    ViewBag.Title = "Google JR";
}
<style>

    .moveUpALittle {
        margin-top: -6px!important;

    }

    .btn3d {
        position: relative;
        border: 0;
        border-radius: 3px;
        margin: 15px 10px 0 0;
        transition: all .09s linear;
        box-shadow: 0 0 0 1px transparent inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 6px 6px 0 0 black, 6px 6px 0 1px black, 6px 6px 3px 0px black;
        outline: medium none;
        -moz-outline-style: none;
    }

        .btn3d:active {
            top: 7px;
        }
    .searchRow {
        height:40px;

    }
        .btn3d:focus {
            outline: medium none;
            -moz-outline-style: none;
        }

        .btn3d.btn-default {
            background-color: #f5f5f5;
        }

    .loadingImage {
        position: fixed;
        z-index: 1000;
        top: 100px;
        left: 500px;
        height: 100%;
        width: 100%;
    }

    .RowSpacer {
        min-height: 20px;
        background-color: #ffffff;
        border: solid,1px,black;
    }

    table {
        border-collapse: collapse;
    }

    .inputStyleSearch {
       width: 100%;
        height: 40px;
        font-size: 25px;
        border-style: solid;
        border-width: 2px;
    }

    .inputStyle {
        width: 90%;
        height: 35px;
        font-size: 20px;
        border-style: solid;
        border-width: 2px;
    }

    table, th, td {
        /*border: 1px solid black;*/
    }

    .IndexResults {
        font: bold;
        font-size: 20px;
    }

    .ErrorMessage {
        font: bold;
        font-size: 20px;
    }
</style>
<script>
    var MainApp = angular.module("MainApp", []);


    MainApp.controller("SearchController", function ($scope, $http) {
        $scope.pageCount = 0;
        $scope.keywordCount = 0;
        $("#btnShowHideTools").html("Show Coder Tools");



        //test page
        $scope.pageName = "https://investorjunkie.com/41686/wealthfront-promotion/";
        //"http://googleforaday.azurewebsites.net/SamplePage.html";
        //"http://localhost:50529/SamplePage.html";



        //"https://www.theverge.com/search?q=piano";
        //main variable for search results
        $scope.results = "";

        //main function for indexing a site.
        $scope.IndexThePages = function () {
            var url = "/Home/startPageIndexProcess";
            var postData = { pageName: $scope.pageName };
            $scope.ShowLoadingImage2(true);
            $("#IndexingError").hide();

            $http.post(url, postData)
            .then(function (data) {


                $scope.ShowLoadingImage2(false);
                if (data.data != undefined) {    //if totals fail to come back show the error message.
                    $scope.pageCount = data.data.PagesIndexed;
                    $scope.keywordCount = data.data.KeywordsIndexed;
                    $("#IndexedResults").show();
                }
                else { // this means there were some errors found.
                    $("#IndexingError").show();
                }
                //  alert(data.data);
                console.log(data);
            });
        };

        $scope.displayResults = function (data) {

            console.log(data.data);
            $scope.ShowLoadingImage(false);
            $scope.results = data.data;
        };

        //main search function for finding matched text.
        $scope.doSearch = function () {
            $("#IndexedResults").hide();
            $("#IndexingError").hide();
            var url = "/home/RunSearch";
            var postData = { keyword: $scope.keyword };
            $scope.ShowLoadingImage(true);
            $http.post(url, postData)
            .then(function (data) {

                $scope.displayResults(data);
            });

        }

        //waiting message shows until a response comes back.
        $scope.ShowLoadingImage2 = function (makeVisible) {
            if (makeVisible) {
                $("#loadingImage2").show();
            }
            else {
                $("#loadingImage2").hide();

            }

        }

        //waiting message shows until a response comes back.
        $scope.ShowLoadingImage = function (makeVisible) {
            if (makeVisible) {
                $("#loadingImage").show();
            }
            else {
                $("#loadingImage").hide();

            }

        }

        // application log displays errors to help debugging.
        //the hide and show is in this function.
        $scope.ShowCoderTools = function () {
            var tools = $("#divCoderTools");
            var isHidden = $('#divCoderTools').is(':hidden');
            if (isHidden == true) {
                tools.show()

            }
            else {
                tools.hide();

            }


        }

        $scope.ShowSection = function (someID) { //1 is the index section
            //2 is the Search section
            if (someID == 1) {
                $("#divIndex").show();
                $("#divSearch").hide();
            }
            else if (someID == 2) {
                $("#divSearch").show();
                $("#divIndex").hide();
            }

        }


        //show and hide the applog fields.
        $scope.ShowAppLog = function () {

            var appLog = $("#divAppLog");
            var isHidden = $('#divAppLog').is(':hidden');
            if (isHidden == true) {
                appLog.show()
                var url = "/Home/GetAppLog";

                $scope.ShowLoadingImage2(true);
                $http.post(url, '')
            .then(function (data) {
                $scope.logResults = data.data;
                $scope.ShowLoadingImage2(false);

            })

            }
            else {
                appLog.hide();


            }
        }

        //delete the application log entirely.
        $scope.ClearAppLog = function () {
            var url = "/Home/ClearAppLog";
            $scope.ShowLoadingImage2(true);
            $("#IndexingError").hide();
            $http.post(url, '')
            .then(function (data) {
                $scope.ShowLoadingImage2(false);
                alert(data.data);
                $scope.logResults = "";


            });
        }



        //this is the load function for the page.
        $scope.RunSetup = function () {
            $scope.ShowAppLog();
            $scope.ShowCoderTools();
            $("#IndexedResults").hide();
            $("#IndexingError").hide();
            $scope.ShowSection(1);
            $scope.pageCount = 0;
            $scope.keywordCount = 0;
        }

        //this clears all of the indexed values in all tables.
        $scope.ClearAll = function () {

            var url = "/Home/ClearAll";
            var postData = {};
            $scope.ShowLoadingImage2(true);
            $http.post(url, postData)
            .then(function (data) {
                $scope.results = "";
                $scope.pageCount = 0;
                $scope.keywordCount = 0;
                $("#IndexedResults").hide();
                $scope.ShowLoadingImage2(false);
                alert(data.data);
            })
        };

        $scope.RunSetup();

    });

</script>

<div ng-app="MainApp" ng-controller="SearchController">

    <div class="row">
        <div class="col-md-4 IndexResults"></div>
        <div class="col-md-1 IndexResults">
            <a href="" ng-click="ShowSection(2)">Search</a>
        </div>
        <div class="col-md-1 IndexResults " style="margin-left:25px">|</div>
        <div class="col-md-1 IndexResults">

            <a href="" ng-click="ShowSection(1)">Index</a>
        </div>

        <div class="col-md-1 IndexResults">
            |
        </div>
        <div class="col-md-3">

            <a href="" class="IndexResults" ng-click="ShowCoderTools()">Debug</a>

            <div id="divCoderTools">

                <button ng-click="ClearAppLog()">Clear App Log</button>
                <button ng-click="ShowAppLog()">Show/Hide App Log</button>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 RowSpacer"><br /><br /><br /></div>
    </div>
    <div id="divIndex">
        <div id="loadingImage2" class="modal loadingImage">
            <p><img src="~/Content/LoadingImage.gif" /> Please Wait</p>
        </div>
        <div class="row">
            <input type="text" class="inputStyle" ng-model="pageName" />
        </div>
        <div class="row">
            <div class="col-md-12 RowSpacer"><br /><br /></div>

        </div>
        <div class="row">
            <div class="col-md-4 "></div>
            <div class="col-md-2 IndexResults"><button class="btn btn-lg btn3d btn-info" ng-click="IndexThePages()"> INDEX</button></div>
            <div class="col-md-2 IndexResults"><button class="btn btn-lg btn3d btn-danger" ng-click="ClearAll()">CLEAR</button></div>
            <div class="col-md-2"></div>
        </div>
        <br />
        <br />
        <div id="IndexedResults" class="IndexResults">
            Indexed {{pageCount}} Pages and {{keywordCount}} Words
        </div>
    </div>

    <div id="divSearch">

        <br />
        <div id="loadingImage" class="modal loadingImage">
            <p><img src="~/Content/LoadingImage.gif" /> Please Wait</p>
        </div>
        <br />
        <div class="row">
            <div class="col-md-11">
                <input type="text" class="inputStyleSearch" ng-model="keyword" />
            </div>
            <div class="col-md-1 searchRow">
                <button class="btn btn-danger btn-lg moveUpALittle btn3d  " ng-click="doSearch()">Search</button>
               </div>
        </div>


        <br />

        <br />
       
        <div id="IndexingError" class="ErrorMessage">Completed with errors; Please check the app log in Coder Tools.</div>
        <table>

            <tr ng-repeat="item in results">
                <td>
                    <a target="_blank" href="{{item.PageURL}}">  {{item.Title}}</a>
                    <br />
                    Occurrences: {{item.Rank}}
                </td>


            </tr>
        </table>

    </div>
    <div id="divAppLog">
        <table>
            <tr>
                <td>Function</td>
                <td>Message</td>

                <td>Stack Trace</td>
                <td>DateCreated</td>
                <td>Page</td>

            </tr>

            <tr ng-repeat="item in logResults">
                <td>
                    {{item.FunctionName}}
                </td>
                <td>{{item.MessageText}}</td>

                <td>{{item.FullMessage}}</td>
                <td>{{item.DateCreatedText}}</td>
                <td>{{item.PageName}}</td>


            </tr>
        </table>
    </div>


</div>